body{
    margin: 0;
}
p{
    margin: 0;
}
a{
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
    color: white;
    
}
.header{
    background-image: url("image.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
    height: 50px;
    background-color: rgb(122, 33, 219);
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
header h2{
    padding-left: 50px;
    color: white;
}
.link{
   text-transform: capitalize;
   margin-right: 300px;
}
.enter{
    padding-right: 50px;
}
.enter input{
    outline: none;
}
.send{
    background-color: black;
    color: white;
    padding: 0 20px;
    text-transform: capitalize;
    border-radius: 2px;
    cursor: pointer;
}
.contactus{
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 30px 0;
}
.plus{
    color: rgb(27, 27, 215);
    padding: 2px 5px;
    font-weight: bold;
    cursor: pointer;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
#register{
    background-color: blue;
    padding: 5px 5px;
    text-transform: capitalize;
    color: white;
    font-size: 15px;
    outline: none;
    width: 303px;
    border: none;
}
#formulaire{
    width: 300px;
    display: none;
    margin: 20px auto;
}
 #formulaire input{
    margin: 5px 0;
    padding: 5px 0;
    outline: none;  
    width: 100%;
}

.result{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
    
}